[agent]
expertMode = true

[nix]
packages = ["unzipNLS", "python3"]

[workflows]
runButton = "Start Web Server"

[[workflows.workflow]]
name = "Start Web Server"
author = 46282751
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000 --bind 0.0.0.0"

[[ports]]
localPort = 8000
externalPort = 80
